/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.list-ordered {
  margin-top: $space-base;
  margin-bottom: $space-base;
}

.list-unordered {
  margin-top: $space-base;
  margin-bottom: $space-base;
}

.list-horizontal {
  
}