---
title: Welcome to Middleman
---

<div class="container">
  <div class="row">
    <div class="col-xs-8 push-xs-2">
      <h1>Boilerplate</h1>
      <h2>Hello mecton</h2>
      <p>Skeleton uses media queries to serve its scalable grid, but also has a list of queries for convenience of styling your site across devices. The queries are mobile-first, meaning they target min-width. Mobile-first queries are how Skeleton's grid is built and is the preferrable method of organizing CSS. It means all styles outside of a query apply to all devices, then larger devices are targeted for enhancement. This prevents small devices from having to parse tons of unused CSS. The sizes for the queries are.</p>
      <div>
        <a href="#" class="btn-primary">Button (link)</a>
        <a href="#" class="btn-primary btn-small">Button (link)</a>
        <a href="#" class="btn-secondary">Button (link)</a>
        <a href="#" class="btn-secondary btn-small">Button (link)</a>
        <a href="#" class="btn-secondary btn-large">Button (link)</a>
      </div>
      <ul class="list-unordered">
        <li>Unordered lists have basic styles</li>
        <li>
          They use the circle list style
          <ul>
            <li>Nested lists styled to feel right</li>
            <li>Can nest either type of list into the other</li>
          </ul>
        </li>
        <li>Just more list items mama san</li>
      </ul>
      <ol class="list-ordered">
        <li>Unordered lists have basic styles</li>
        <li>
          They use the circle list style
          <ul>
            <li>Nested lists styled to feel right</li>
            <li>Can nest either type of list into the other</li>
          </ul>
        </li>
        <li>Just more list items mama san</li>
      </ol>
      <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Sex</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dave Gamache</td>
              <td>26</td>
              <td>Male</td>
              <td>San Francisco</td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>42</td>
              <td>Male</td>
              <td>Hayward</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>